<section>
  <header>
    <div class="score-board">
      <div class="logo-container">
        <img src="assets/img/logo.png" alt="" width="80" height="60">
      </div>
      <div class="counter">
        <h2>SCORE</h2>
        <h3>{{ totalScore }}</h3>
      </div>
    </div>
  </header>

  <body>
    <div class="board-game">
      <div class="options" *ngIf="this.stage===0"><img src="assets/img/bg-triangle.png" alt="" width="200px" height="160px">
        <div class="line1">
          <app-board-button [value]="1" (click)="getPlayerChoice(1);changeStage()"></app-board-button>
          <br>
          <app-board-button [value]="2" (click)="getPlayerChoice(2);changeStage()"></app-board-button>
        </div>
        <div class="line2">
          <app-board-button [value]="0" (click)="getPlayerChoice(0);changeStage()"></app-board-button>
        </div>
      </div>
      <div class="confrontation" *ngIf="this.stage===1">
        <div class="player-selection">
          <app-board-button [value]="this.playerChoice"></app-board-button>
          <h4>YOU PICKED</h4>
        </div>
        <div>
        </div>
        <div class="house-selection">
          <app-board-button [value]="this.houseChoice" *ngIf="this.stage===1"></app-board-button>
          <h4>THE HOUSE PICKED</h4>
        </div>
      </div>
      <div class="results" *ngIf="this.stage===1">
        <h1>{{this.results}}</h1>
        <button class="btn-rematch" (click)="restart()">PLAY AGAIN</button>
      </div>
      <div class="bottom-options">
        <app-rules></app-rules>
      </div>
    </div>
  </body>
</section>
