.btn-rules{
  background-color: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  color: #F7F7F7;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
