
section{
  width: 375px;
  margin: 0 auto;
}
h1{
  font-size: 22px;
  color:#F7F7F7;
  font-weight: 600;
  text-align: center;
}
body{
  margin-top: 100px;
}
.modes{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-size: 11px;
  align-items: center;
}
a {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  height: 45px;
  width: 80%;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 5px;
  color:#F7F7F7;
  text-decoration: none;
  text-align: center;
}
