section{
  position: relative;
  margin: 0 auto;
  width: 300px;
  position: relative;
  max-height: 734px;
}
h1{
  padding-top: 70px;
  font-size: 28px;
  font-weight: bolder;
  line-height: 0px;
  text-align: center;
  color: hsl(229, 25%, 31%);
}
body{
  margin-top: 120px;
}
button{
  padding-top: 120px;
  padding-bottom: 50px;
  bottom: 0;
  border: 0;
  background-color: transparent;
  margin: 0 auto;
}
